@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Montserrat:wght@600&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 100px auto;
    background: rgb(235, 239, 230);
}
#logo_link {
    padding-top: 5px;
    padding-left: 1px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
    border-radius: 50%;
    border: 1px solid #4E7E7E;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #4E7E7E;
    text-decoration: none;
    padding: 3%;
}
nav a:hover {
    background-color: #4E7E7E;
    color: white;
}
#hero{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#hero-box {
    grid-column: 1/11;
    grid-row: 1/6;
    z-index: -1;
}
#hero-img {
    width: 100%;
    height: 100%;
}
#hero-msg {
    grid-column: 1/5;
    grid-row: 1/2;
    margin-top: 30px;
}
.home-title {
    font-family: "Montserrat", "Merriweather Sans", "Open Sans";
    font-size: 200%;
    background-color: rgb(118, 147, 137, 0.5);
    color: #EBEFE6; 
    margin-top: 1%;
    text-align: center;
}
#sub-hero-msg {
    grid-column: 3/9;
    grid-row: 4/5;
    margin-top: 50px;
    background-color: rgb(118, 147, 137, 0.5);
    height: 100%;
}
.sub-title {
    font-family: "Montserrat", "Merriweather Sans", "Open Sans";
    color: #EBEFE6; 
    font-size: 150%;
    text-align: center;
}
.button-box {
    text-align: center;
    margin-top: 20px;
}
.signup {
    background-color: #EBEFE6;
    color: #769389;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.signup:hover {
    background-color: #4E7E7E;
    color: white;
}
body {
    background-color: #98AEA7;
    font-family: Arial, Helvetica, Georgia;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(23, 40px);
}
.home_box1 {
    grid-column: 2/9;
    grid-row: 2/11;
}
.home_box2 {
    grid-column: 2/9;
    grid-row: 12/21;
}
.home_box3 {
    grid-column: 10/21;
    grid-row: 2/21;
    background: #4E7E7E;
    padding: 40px;
}
div h1, div h2 {
    font-family: "Montserrat", "Merriweather Sans", "Open Sans";
    text-align: center;
    color: white;
    font-size: 150%
}
div p, div ul {
    color: #EBEFE6;
}
b {
    color: yellow;
}
.home_box4 {
    grid-column: 13/18;
    grid-row: 22/23;
    text-align: center;
}
.home_img {
    width: 100%;
    height: 100%;
}
footer {
    background-color: #EBEFE6;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: black;
}
footer a{
    color: #769389;
    text-decoration: none;
}
footer a:hover {
    color: #4E7E7E;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 10%;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        background: none;
        font-size: 25px;
        color: black;
    }
    .sub-title {
        background: none;
        font-size: 25px;
        color: black;
    }
    #sub-hero-msg {
        background: none;
    }
    .home_img {
        padding-top: 30px;
    }
    .button-box, .home_box4 {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    footer {
        margin-top: 25px;
    }
    label {
        /* Uniform size & alignment */
        display: inline-block;
        width: 110px;
        text-align: left;
    }

}