* {
    background-color: rgb(246, 156, 196);
}

header {
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 360px;
}

header h1:hover {
    color: black;
}

main q {
    display: block;
    width: 300px;
    margin: 0 auto;
    font-size: 2.2em;
    color: white;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    row-gap: 100px;
}

ol{
    display: table;
    margin: auto;
    font-weight: bold;
}

p {
    display: block;
    margin: 0 auto;
    width: 330px;
    text-align: center;
}

.spaceunder {
    padding-bottom: 0.5em;
}
